*{
    background-color: white;
}
.main{
    margin: auto !important;
    /* width: 1480px !important; */
}

.home{
    border: 1px red solid;
    border: none;
    width: 100%;
height: 432.93px;
gap: 0px;
opacity: 0px; 
display: flex; 
justify-content: center;
padding-right: 20px;

}
.img{
    border: 1px green solid;
    border: none;
    width: 500px;
height: 400px;
}
.ig{
    width: 500px;
    height: 400px;  
}
.content{
    padding: 10px;
    border: 1px pink solid;
    border: none;
    width: 500px;
    height: 400px; 
}
h1{
    font-family: Poppins !important;
font-size: 70px !important;
font-weight: 700 !important;
line-height: 84px !important;
text-align: left !important;

    font-weight: bolder !important;
}
.brown{
    color: rgb(241, 187, 52);
    font-weight: bold !important;
}
.yellow{
    border: 1px pink solid;
    width: 10px;
    height: 5px;
}
.button{
    width: 170px !important;
height: 48.93px !important;
top: 384px !important;
left: 15px !important;
padding: 9.03px .97px 0.9px 35px !important;
gap: 0px !important;
opacity: 0px !important;
background: #EBC30A !important;
}
/* span{
    display: flex !important;
    display: inline-block !important;
    margin-left: 10em !important;
    margin-top: 0.0em !important;
    padding-top: 0 !important;
    padding-left: 0em !important;
    padding-right: 5em !important;
    color: aliceblue !important;
    background-color: black !important;
    width: 40px !important;
    height: 48.93px !important;
} */
.about-section{
    width: Fixed (1,425px)px !important;
height: Fixed (2,227.69px)px !important;
top: 693.92px !important;
padding: 90px 142.5px 527.92px 142.5px !important;
gap: 188.92px !important;
opacity: 0px !important;

}
.container{
width: 1140px !important; 
height: 654px !important;
gap: 0px;
opacity: 0px;


}
.carrot{
width: 57px !important;
height: 57px !important;
left: 541.5px !important;
gap: 0px;
opacity: 0px;
}
/* .about-title{
width: 403px !important;
height: 60px !important;
top: 7px !important;
left: 353.75px !important;
gap: 0px !important;
opacity: 0px !important;
font-family: Poppins !important;
font-size: 50px !important;
font-weight: 700 !important;
line-height: 35px !important;
text-align: left !important;

} */
/* .i2{
    width: 702px !important;
   height:350px !important;
    top:2px !important;
    left:9px !important;
  gap: 0px !important;
  margin-left: 1em !important;
  margin-right:0em !important;
   opacity: 0px !important;

} */
/* .lorem{
    width: 515px !important;
height: 204px !important;
top: 581.5px !important;
left: 20.2px !important;
gap: 0px !important;
opacity: 0px !important;

} */


/* @media only screen and(min-width) {
    .img{
        height: 50px !important;
        width: 100% !important;
    }
} */