*{
    background-color: white;
}
.main{
    margin: auto !important;
    /* width: 1480px !important; */
}

.home{
    border: 1px red solid;
    border: none;
    width: 100%;
height: 432.93px;
gap: 0px;
opacity: 0px; 
display: flex; 
justify-content: center;
padding-right: 20px;

}
.img{
    border: 1px green solid;
    border: none;
    width: 500px;
height: 400px;
}
.ig{
    width: 500px;
    height: 400px;  
}
.content{
    padding: 10px;
    border: 1px pink solid;
    border: none;
    width: 500px;
    height: 400px; 
}
h1{
    font-family: Poppins !important;
font-size: 70px !important;
font-weight: 700 !important;
line-height: 84px !important;
text-align: left !important;

    font-weight: bolder !important;
}
.brown{
    color: rgb(241, 187, 52);
    font-weight: bold !important;
}
.yellow{
    border: 1px pink solid !important;
    width: 10px !important;
    height: 5px !important;
}
.button{
    width: 170px !important;
height: 48.93px !important;
top: 384px !important;
left: 15px !important;
padding: 9.03px .97px 0.9px 35px !important;
gap: 0px !important;
opacity: 0px !important;
background: #EBC30A !important;
}
/* span{
    display: flex !important;
    display: inline-block !important;
    margin-left: 10em !important;
    margin-top: 0.0em !important;
    padding-top: 0 !important;
    padding-left: 0em !important;
    padding-right: 5em !important;
    color: aliceblue !important;
    background-color: black !important;
    width: 40px !important;
    height: 48.93px !important;
} */
.about-section{
    width: Fixed (1,425px)px !important;
height: Fixed (2,227.69px)px !important;
top: 93.92px !important;
padding: 90px 42.5px 27.92px 142.5px !important;
gap: 188.92px !important;
opacity: 0px !important;

}
.container{
width: 1140px !important; 
height: 654px !important;
gap: 0px;
opacity: 0px;


}
.carrot{
width: 57px !important;
height: 57px !important;
left: 541.5px !important;
gap: 0px;
opacity: 0px;
}
.container-veg{ 
    margin-left: 60em !important;
    width:1140px !important;
height:654px !important;
gap: 0px;
opacity: 0px;
}
.carrot{
width: 57px;
height: 57px;
left: 541.5px;
gap: 0px;
opacity: 0px;
}
.veg-section{
    width: 1110px !important;
height: 939.85px !important;
top: 166px !important;
left: 15px !important;
padding: 90px 0px 0px 0px !important;
gap: 0px;
opacity: 0px;
}
.card-img-top{
    margin-left: 10em !important;
    margin-right: 10em !important;
    height: 90px !important;
    width: 90px !important;
}
.row{
width: Fixed (1,140px)px !important;
height: Fixed (424.93px)px   !important;
top: 90px !important;
left: -15px !important;
padding: 0px 0px 30px 15px !important;
gap: 30px !important;
opacity: 0px !important;
}
.card{
width: 198px !important;
height: 394.93px !important;
gap: 0px !important;
border: 2px 0px 0px 0px !important;
opacity: 0px !important;
background: #FFFFFF !important;
border: 2px solid #666666 !important
}
.card-img-top{
    width: 85px !important;
height: 100px !important;
top: 22px !important;
left: 56.5px !important;
gap: 0px !important;
opacity: 0px !important;
}
.btn{
    color: aliceblue !important;
    text-decoration: none !important;
    width: 130px !important;
    height: 44.93px !important;
    top: 328px !important;
    left: 34px !important;
    padding: 8.03px 0.97px 5.9px 1.03px !important;
    gap: 0px !important;
    border-radius: 4px 0px 0px 0px !important;
    background: #252525 !important;
    opacity: 0px !important;
}
